body {
    text-align: center;
    font-family: helvetica;
    margin: 0px;
}

header {
    background: url('https://upload.wikimedia.org/wikipedia/commons/0/0e/Hong_Kong_Island_Skyline_2009.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

#img1 {
  float: right;
  margin: 0 0 20px 20px;
}

#img2 {
  float: left;
  margin: 0 20px 20px 0;

}

#img3 {
  float: right;
  margin: 0 0 100px 20px;

}

.photo {
    max-width: 200px;
    margin: 40px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 40px;
}

div {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

article {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

li {
    display: inline;
    padding: 10px;
}

p {
  float: auto;
  text-align: justify;
  max-width: 500px
}

a {
    color: white;
}

footer {
    position:fixed;
    bottom:0px;
    height:54px;
    width:100%;
}